@import "../bootstrap/css/bootstrap";

button {
  @extend .btn;
}

.dateContainer {
  display: inline-block;
}
.hidden {
  display: none;
}


header {
  text-align: center;
}

main {
  padding: 3em;
}


#schedule {
  width: 90%;
  margin: 0 auto;
  #interactions {
    @extend .input-group;
    button {
      @extend .btn-light;
    }
    .mainInteractions {
      @extend .row;
      @extend .input-group;
      margin-left: 0;
      margin-right: 0;
      .prepend {
        @extend .input-group-prepend;
      }
      input {
        @extend .form-control;
      }
      .append {
        @extend .input-group-append;
      }
    }
  }
  #week {
    overflow-y: scroll; 
    overflow-x: scroll;
    white-space: nowrap;
    height:400px;
    border-radius: 1%;
    border: 2px solid black;
  
    .dateContainer {
      @extend .card;
      margin-left: 0;
      margin-right: 0;
      display: inline-block;
      .dateHead {
        @extend .card-header;
      }
      button {
        @extend .btn-danger;
        width: 100%;
      }
      .time {
        @extend .list-group-item;
        cursor: pointer;
      }
      .on {
        background: green;
      }
    }
  }

}