@import "../bootstrap/css/bootstrap";

button {
  @extend .btn;
}

.dateContainer {
  display: inline-block;
}
.hidden {
  display: none;
}


header {
  text-align: center;
  #title {
    
  }
}

main {
  padding: 3em;
}


#schedule {
  width: 90%;
  margin: 0 auto;
  #interactions {
    @extend .input-group;
    button {
      @extend .btn-light;
    }
    .mainInteractions {
      @extend .row;
      @extend .input-group;
      margin-left: 0;
      margin-right: 0;
      .prepend {
        @extend .input-group-prepend;
      }
      input {
        @extend .form-control;
      }
      .append {
        @extend .input-group-append;
      }
    }
  }
  #week {
    overflow-y: scroll; 
    height:400px;
    border-radius: 1%;
    border: 2px solid black;
  
    .dateContainer {
      margin-left: 1%;
      margin-right: 1%;
    }
  }

}