

body {

}

header {
  text-align: center;
  div {

  }
  #menu {

  }
  #title {

  }
}

#pullout-menu {

  nav {

    li,a {

    }
  }
}

.hidden {
  display: none;
}

#interactions {

  #date {
    max-width: 50%;
  }
}

#week {
  height: 100%;

  .dateContainer {
    margin-left: 1%;
    margin-right: 1%;
  }
}
.dateContainer {
  display: inline-block;
}
